<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> {{htmlWebpackPlugin.options.title}} </title>
    <meta name="description" description="{{htmlWebpackPlugin.options.description}}">
  </head>
  <body>
      <div id="root"></div>
  </body>
</html>